edits and a comment

I made some edits, given below in unified diff format.  I would also suggest changing the second sentence of the second paragraph of §1.2 to:

The type of measurement may not be truly binary, and many studies could include both active and passive components.

```
--- draft-irtf-pearg-safe-internet-measurement.xml	2023-11-12 17:16:05
+++ draft-irtf-pearg-safe-internet-measurement.xml+	2023-11-12 20:49:12
@@ -47,9 +47,9 @@
 <keyword>internet</keyword>
 
 <abstract>
-<t>Internet measurement is important to researchers from industry, academia and civil society. While measurement of the internet can give insight into the
+<t>Internet measurement is important to researchers from industry, academia and civil society. While measurement of the Internet can give insight into the
 functioning and usage of the Internet, it can present risks to user privacy.
-This document describes briefly those risks and proposes guidelines for ensuring that internet measurements can
+This document describes briefly those risks and proposes guidelines for ensuring that Internet measurements can
 be carried out safely, with examples.</t>
 </abstract>
 
@@ -64,8 +64,8 @@
 <middle>
 
 <section anchor="introduction" title="Introduction">
-<t>Measurement of the internet provides important insights and is a growing area of reseaerch. Similarly 
-the internet plays a role in enhancing research methods of different kinds.</t>
+<t>Measurement of the Internet provides important insights and is a growing area of research. Similarly 
+the Internet plays a role in enhancing research methods of different kinds.</t>
 <t>Performing research using the Internet, as opposed to an isolated testbed
 or simulation platform, means that experiments co-exist in a space with other
 services and end users. This document outlines guidelines for academic, industry and civil society researchers
@@ -84,7 +84,7 @@
 
 <t>The scope of this document is restricted to guidelines that mitigate exposure
 to risks to Internet user safety when measuring properties of the Internet:
-the network, its constiuent hosts and links, or its users traffic.</t>
+the network, its constituent hosts and links, or its users' traffic.</t>
 
 <t>For the purpose of this document, an Internet user is an individual or
 organisation whose data is used in communications over the Internet, most broadly, and those who use the Internet to communicate or maintain Internet
@@ -110,7 +110,7 @@
 
 <t>On/off-path: A measurement, or attack, that is on-path happens on the network. Off-path indicates activity in a side-channel, end-point or at other points where the user, their connection, or their data can be accessed.</t>
 
-<t>One-/two-ended: A single-ended measurement is like a probe or a trace, where as a measurement with two-ended control provide more accuracy but require the cooperation of both endpoints, which might include the network itself if that is the measurement target.</t>
+<t>One-/two-ended: A single-ended measurement is like a probe or a trace, whereas a measurement with two-ended control provides more accuracy but requires the cooperation of both endpoints, which might include the network itself if that is the measurement target.</t>
 </section>
 
 <section anchor="user-impact" title="User Impact from Measurement Studies">
@@ -135,7 +135,7 @@
 Internet.</t>
 
 <t>Traffic modification: An attack whereby on-path Internet traffic is
-nonconsentually modified.</t>
+nonconsensually modified.</t>
 
 <t>Breach of privacy: User privacy can be violated in the context of data collection. This impact also covers the case of an Internet user's data
 being shared beyond that which a user had given consent for.</t>
@@ -155,7 +155,7 @@
 
 <t>Denial of Service (by which self-censorship is covered): An attack introduced during measurement that overwhelms the user client or service with excessive traffic, thus resulting in a denial of service.</t>
 
-<t>Emotional trauma: An attack by which either a measurement of or exposure to content or behaviour in an internet measurement causes a user harm.</t>
+<t>Emotional trauma: An attack by which either a measurement of or exposure to content or behaviour in an Internet measurement causes a user harm.</t>
 </section>
   </section>
 
@@ -163,15 +163,15 @@
 <section anchor="consent" title="Obtain consent">
 <t>Accountability and transparency are fundamentally related to consent. As per the Menlo Report, "Accountability demands that research methodology, ethical evaluations, data collected, and
 results generated should be documented and made available responsibly in accordance with
-  balancing risks and benefits."<xref target="MenloReport"></xref> A user is best placed to balanced the risks and benefits for themselves therefore consent must be obtained. From most transparent to least, there are a few options for obtaining consent.</t>
+  balancing risks and benefits."<xref target="MenloReport"></xref> A user is best placed to balance the risks and benefits for themselves, therefore consent must be obtained. From most transparent to least, there are a few options for obtaining consent.</t>
 
 <section anchor="informed-consent" title="Informed Consent">
 <t>Informed consent should be collected from all users that
-may be placed at risk, no matter how small a risk, by an experiment, however it may be impractical to do so at scale. In cases
+may be placed at risk, no matter how small a risk, by an experiment. However, it may be impractical to do so at scale. In cases
 where it is practical to do so, this should be done.</t>
 
-<t>However for consent to be informed, all possible risks must be presented to the users.
-The considerations in this document can be used to provide a starting point
+<t>However, for consent to be informed, all possible risks must be presented to the users.
+The considerations in this document can be used to provide a starting point,
 although other risks may be present depending on the nature of the measurements
 to be performed.</t>
 
@@ -195,7 +195,7 @@
 experiments.</t>
 
 <t>Example: A researcher would like to perform a packet capture to determine the TCP
-options and their values used by all client devices on an corporate wireless
+options and their values used by all client devices on a corporate wireless
 network.</t>
 
 <t>The employer may already have terms of service laid out that allow them to
@@ -229,7 +229,7 @@
 attempts be made to degrade the service with large numbers of simultaneous
 connections.</t>
 
-<t>Example: A researcher would like to perform A/B testing for protocol feature and how
+<t>Example: Some researchers would like to perform A/B testing for a protocol feature and how
 it affects web performance. They have created two versions of their software
 and have instrumented both to report telemetry back. These updates will be
 pushed to users at random by the software's auto-update framework. The telemetry
@@ -244,13 +244,13 @@
 reduce the number of users that may be adversely affected by a bad update.</t>
 
 <t>The reduced impact should not be used as an excuse for pushing higher risk
-updates, only updates that could be considered appropriate to push to all users
+updates. Only updates that could be considered appropriate to push to all users
 should be A/B tested. Likewise, not pushing the new behaviour to any user
 should be considered appropriate if some users are to remain with the old
 behavior.</t>
 
 <t>In the event that something does go wrong with the update, it should be easy
-for a user to discover that they have been part of an experiment and roll back
+for users to discover that they have been part of an experiment and roll back
 the change, allowing for explicit refusal of consent to override the presumed
 implied consent.</t>
 </section>
@@ -319,12 +319,12 @@
 
 <t>When directly instrumenting a protocol to provide metrics to a passive
 observer, see section 6.1 of RFC6973<xref target="RFC6973"></xref> for the data
-minimalization considerations enumerated below that are specific to the use case.</t>
+minimization considerations enumerated below that are specific to the use case.</t>
 
 <section anchor="minimization-discard" title="Discard it">
 <t>Discard data that is not required to perform the task.</t>
 
-<t>When performing active measurements be sure to only capture traffic that you
+<t>When performing active measurements, be sure to only capture traffic that you
 have generated. Traffic may be identified by IP ranges or by some token that is
 unlikely to be used by other users.</t>
```